button {
    padding: 0px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.clearfix {
    clear: both;
}
.wrapper {
    position: relative;
    width: 340px;
    height: 110px;
    font-size: 14px;
}
#load-links {
    position: absolute;
    right: 2px;
    top: 2px;
    background: #f4f7ff;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}
#load-links:hover {
    border-color: #aaa;
}
#load-links:active {
    background-color: #f3f3f3;
}
#buttons-play {
    margin-top: 10px;
}
#current-counter,
#time,
#volume-level {
    float: left;
    margin-right: 15px;
}
button {
    font-size: 20px;
}
button + button {
    margin-left: 2px;
}
#status,
#name {
    width: 290px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button#volume-up {
    margin-right: 5px;
}

.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
.checkbox + label {
    cursor: pointer;
}
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 40px;
}
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 39px;
    height: 21px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s;
}
.checkbox:checked + label:before {
    background: #9FD468;
}
.checkbox:checked + label:after {
    left: 21px;
}
.checkbox:focus + label:before {
    box-shadow: 0 0px 3px 2px rgba(255,255,0,0.4);
}
.f-left {
    float: left;
    margin-right: 3px;
}
.p-top-10 {
    padding-top: .6em;
}
.m-left-10 {
    margin-left: .3em;
}
